body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #ceeffc; /* Skyblue */
    color: #333;
    margin: 20px;
}
.image_1{
    display:block; /* 防止图片底部出现空白 */
    margin:0 auto; /* 居中图片 *//* 边距 */
    max-width:100%; /* 使图片在父元素内自适应宽度 */
    margin-top: 20px; /* 添加顶部外边距 */
     margin-bottom: 20px; /* 添加底部外边距 */
    }

.image_2{
    display: block;  /* 图片显示为块级元素 */
    margin:0 auto; /* 图片居中显示 */
    max-width:5%; /* 使图片在父元素内自适应宽度 */
    max-height:100px; /* 图片最大高度为300像素 */
    height:auto; /* 高度自适应 */
    width:auto; /* 宽度自适应 */
    flex-wrap: ;
    }

.image_3{
        display:block; /* 防止图片底部出现空白 */
        margin:0 auto; /* 居中图片 *//* 边距 */
        max-width:100%; /* 使图片在父元素内自适应宽度 */
        margin-top: 20px; /* 添加顶部外边距 */
         margin-bottom: 20px; /* 添加底部外边距 */
        }
    
.image_4{
        display: block;  /* 图片显示为块级元素 */
        margin:0 auto; /* 图片居中显示 */
        max-width:5%; /* 使图片在父元素内自适应宽度 */
        max-height:100px; /* 图片最大高度为300像素 */
        height:auto; /* 高度自适应 */
        width:auto; /* 宽度自适应 */
        flex-wrap: ;
        }
    
header {
    text-align: center;
    padding: 20px;
}

h1 {
    color: #008080; /* Teal */
}

.navbar {
    background-color: #008080;
    overflow: hidden;
    display: flex;            /* 添加flex布局 */
    justify-content: center;  /* 水平居中 */
    align-items: center;      /* 垂直居中 */
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    margin: 0 50px; /* 增加左右外边距 */
} 

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* 
section {
    max-width: 800px;
    margin: 20px auto;
}
*/

footer {
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #008080; /* Teal */
    color: #fff;
}
.content {
    display: none;
    padding: 20px;
}